h1{
    font-size:48px;
    margin: 21px;
}


h2{
    font-size:36px;
    margin: 21px;
}


.numero-primo{
    font-size:18px;
    margin: 12px;
}

.span-tipo{
    font-size:18px;
    font-weight: bold;
    margin-right: 6px;
}
S
.span-typeof{
    font-size:15px;
    font-weight: bold;
    margin-right: 6px;
    margin-left: 12px;
}

.tipo-container div{
    margin: 12px auto;
}

a{
    font-size:18px;
    margin: 6px 0px;
}

li{
    margin: 6px 0px;
    font-size:18px;
}

.span-typeof{
    margin-left:12px;
    margin-right:6px;
    font-weight: 600;
}


footer{
    margin-top:42px;
}


.calculadora button{
    margin: 12px;
    font-size: 24px;
}

.resultado-container{
    height:48px;
}

#resultado{
    font-size:24px;
}

.vista-operacion{
    margin-top:36px;
    font-size:24px;
}

img{
    width:80%;
    transition:all 0.6s ease;
}

.img-container1{
    transition: all 0.6s ease;
    cursor:pointer;
}

.img-container2{
    transition: all 0.6s ease;
    cursor:pointer;
}

.img-container3{
    transition:all 0.6s ease;
    cursor:pointer;
}


.img-hover:hover{
    box-shadow: 0px 0px 8px 2px #000000;
}


.btn-cal{
    padding:18px;
    border: 1px solid #000000;
    border-radius: 3px;
    background-color: #b9eeb9;

}

.btn-hover{
    transition: all 0.6s ease;
}


.btn-hover:hover{
    background-color: #6fad6f;
}


.bottom-container{
    margin-bottom:30px;
}


.text-moneda{
    margin: 0px 6px;
}