h1{
    font-size:48px;
    margin: 21px;
}


h2{
    font-size:36px;
    margin: 21px;
}


.numero-primo{
    font-size:18px;
    margin: 12px;
}

.span-tipo{
    font-size:18px;
    font-weight: bold;
    margin-right: 6px;
}

.span-typeof{
    font-size:15px;
    font-weight: bold;
    margin-right: 6px;
    margin-left: 12px;
}

.tipo-container div{
    margin: 12px auto;
}